.top-banner{
    height:35px ;
    background-color: #0A437A;
}
header{
    background-color: #87adc1;
}
footer{
    background-color: #0A437A;
    font-family:inter ;
}

.cta{
    color: #0A3641;
    font-family: poppins;
}

h1,h2{
    color: #;
}

h3{
    color: #0A3641;
}

p{
    color: #0A3641;
}

footer{
    color: #FFFF;
}

.headers{
    font-family: poppins;
}

.description{
    font-family:open sans;
    color: #0A3641;
}

label{
    font-family: poppins;
}

.dropdown{
    font-family: poppins;
    color: #00000;
}

.black-header{
    color:#000000  ;
    font-family: poppins;
}

.logo{
    height: auto;
    width: 100%;
    min-width: none;
    max-width: 300px;

}

/* Home page */
.home-header{
    background-image: url(../images/home-header.jpg.jpg);
    height:auto;
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.img-products{
    object-fit: cover;
    object-position: bottom;
    height: auto;
    width: 100%;
    max-width: 300px;
    min-width: 100px;

}

/* Products page*/

/* Product details page*/
.img-details{
max-width: 450px;
}

/*Cart page*/
.img-cart{
    max-width: 100px;
    height: auto;
    width: 100%;
    object-fit: cover;

}

/* Conformation  page*/
.logo-confirmation{
    max-width: 180px;
    min-width: none;
    height: auto;
    width: 100%;
    object-fit: cover;
}