.top-banner{
    height: 35px;
    background-color: #0A437A;
}

.small-banner{
    background-color: #0A3641;
}

header{
    display: flex;
    align-items: center;
    background-color: #CCDCE5;
    background-size:cover;
    padding-top: 20px;
    padding-bottom: 30px;
    position: relative;
}

.icons{
    display: flex;
    margin-left: auto;
    margin-right: 10px;    
    margin-top: 10px;
}

.fa-heart, .fa-magnifying-glass, .fa-cart-shopping, .fa-user{
    padding: 10px;
    color: #0A3641;   
}

footer{
    background-color: #0A437A;
    font-family:inter;
    color: #FFFF;
    left: 0;
    bottom: 0;   
    width: 100%;
}

.footer-text{
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0;
}

.footer-text li{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 20px;
    text-decoration: none;   
}

a{
    text-decoration: none;
    color: inherit;
}

.footer-text li:last-child{
    margin-right: 0;;
}

.cta{
    color: #0A3641;
    font-family: poppins;
    text-decoration: none;
    
}
.cta-box{
    background-color: #0A3641;
    color:#CCDCE5 ;
    font-size: 1em;
    padding:10px 20px 10px 20px ;
    display: inline-block;
    border-radius: 10px;
    margin: 10px;
    text-decoration: none;
}

p{
    color: #0A3641;
}

nav{
    margin-left:0px;
    display:block;
    position:absolute;
}

nav li{
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
}

nav li:hover {
    background-color:#ffffff ;
}

.h3{
    color: #0A3641;
    font-family: poppins;
    font-weight: 400;
    font-size: 32px ;
}

.description{
    font-family:open sans;
    color: #0A3641;
    text-decoration: none;
}

label, .dropdown{
    font-family: poppins;
}


.black-header{
    color:#000000;
    font-family: poppins;
}


.navigation{
    display: flex;
    justify-content: center;
}

.container-logo{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0px;
    margin-top:5px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.logo{
    height: auto;
    width: 100%;
    min-width: none;
    max-width: 200px;
    text-align: center;
    
}

.coming-soon{
    font-family: poppins;
    font-size: 40px;
}


.fa-facebook-f, .fa-instagram{
    font-size: 20px;
}

.heart-products{
    padding-left: 50%;
    font-size: 20px;
}

.heart-products-detail{
    font-size: 25px;
}


/* Home page */
.home-header{
    background-image: url('../images/red-mountain.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    min-height: 650px;
    position: relative;
    margin-top: 5px;
}

.header-text{
    position: absolute;
    bottom:60%;
    right: 30%;
    transform: translate(50%, 50%);
    text-align: right;
}

.headers{
    font-family:poppins;
    font-size:48px;
    color: #0A3641;
    font-weight:400;
    margin:0;
}

.h1-one{
    font-size: 48px;
}

.h2-one{
    font-size: 38px;
    margin-top: 0px;
}

.home-cta{
    position: absolute;
    right: 30%;
    padding: 10px 40px;
    font-size: 24px;
}

.img-products{
    object-fit: cover;
    object-position: bottom;
    height: auto;
    width: 100%;
    max-width: 300px;
    min-width: 100px;
}

.h3{
    padding-left: 50px;
}



/* Product details page*/
.img-details{

   max-width: 400px;
   margin-left: 200px;
   margin-right: 0px;
   margin-top:40px;
}

.main-container{
    display: flex;
    align-items:center;
    padding: 50px;
}


.details-container{
    display: grid;
    grid-template-rows: 1fr;
    align-items: right;
    text-align: left;
    margin-left: 50px;
    margin-top: 40px;
    border: 1px solid #CCDCE5;
}

.product-head, .options{
    margin:10px;
}



/*Cart page*/


.cart-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin: 20px;
    min-height: 200px;
}

.cart-header{
    padding-bottom: 0px;
    padding-top: 20px;
    margin-left: 30px;
}


.product-details{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    padding: 10px;
    margin:10px;
    border: 2px solid #CCDCE5;
}

.jacket, .product-pricing, .price-item-1, .price-item-2{
    padding: 10px;
    margin:10px;
}

.order-summary{
    background-color:#CCDCE5;
    padding: 15px;
    margin: 10px;
}

.shipping-info{
    padding: 10px;
    margin:10px;   
    grid-column: span 2;   
} 

.shipping-info-text{
    padding: 10px;
    margin:10px;  
    display: grid;
    grid-template-columns:repeat(3, 1fr);
} 

.free-shipping, .fast-delivery, .free-returns{
    padding: 10px;
    text-align: center;
}

.fa-box-open, .fa-truck, .fa-envelope{
    font-size: 20px;
    color: #0A3641;
}

.input-fields-cart{
    width: 40px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #0A3641;
    
}

/* Payment page*/

.input-fields{
    padding: 10px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #686868;
}

.check-out-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 20px;
    padding: 70px;
    background-color:#ECF2F5;
    min-height: 300px;
}

.check-out-inputs{
    flex: 1 1 20%;
}

.check-out-payment{
    flex: 1 1 10%
}

.pay{
    margin-top: 30px;
    padding: 8px 16px;
    margin-left: -2px;
}


/* Conformation  page*/

.container-confirmation{
    display: flex;
    flex-direction: column;
    background-color: #CCDCE5;
    margin:20px;
    justify-content: center;
    padding-bottom: 0px 20px 20px 20px;
}

.thank-you{
    padding-top: 20px;
    padding-bottom: 0px;
}

.black-header{
    font-weight: 400;
}

.logo-confirmation img {
    max-width: 150px;
    min-width: none;
    height: auto;
    width: 100%;
    object-fit: cover;
    padding: 10px;
    text-align: center;
}


.confirmation-items{
   flex: 1 ;
   padding: 50px;
   margin: 10px;
   text-align: center;
}

.view-order{
    text-align: center;    
}

.view-cta{
    padding: 10px 60px;
    color: #FFFF;
}

.text-end{
    padding:10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Product-page*/

.dropdown{
    background-color: #0A3641;
    color:#CCDCE5;
    position: relative;
    display: inline-block;
    padding: 4px 50px 4px 50px;
    display: inline-block;
    border-radius: 8px;
    margin:40px 5px 10px 5px;
    
}

.dropdown-content{
    display:none;
    position:absolute;
    background-color: #f9f9f9;
    color: #0A3641;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0,2) ;
    padding: 12px 16px;
    z-index: 1;
    text-decoration: none;
}

.dropdown:hover .dropdown-content{
    display: block;
}
 
select{
    display: none;
}

.container-products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, minmax (100px, 1fr));
    max-width: 1800px;
    margin: 50px auto;
    gap: 20px;  
}

.product-item, .item {
    border: 1px solid #ECF2F5;
    padding: 20px;
    text-align: center;
 
}

.container-home{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1800px;
    margin: 50px auto;
    gap: 20px;
}


.img-products{
    width: 100%;   
}

.product-detail{
    background-color:#FFFF;
    color: #000000;
    padding: 10px;
}

summary{
    display:;
    cursor: pointer;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}

#hamburger-menu-header{
    display: none;
}

#hamburger-menu-header{
    display: none;
}



@media (max-width:599px){

   
    .container-home{
       grid-template-columns: 1fr;
    
    }

    .top-banner{
        display: none;
    }

    .icons{
        display: none;
    }

    .small-banner{
        background-color: #0A3641;
        height: 30px;
        margin: 5px;
    }

    .small-banner-text-h4{
        font-family:Poppins;
        font-weight: 400;
        color: #ffffff;
        font-size: 10px;
        text-align: center;
        font-style: normal;
        padding: 6px;
        letter-spacing: 1px;
    }

    header{
        background-color: #FFFF;
        padding: 20px;
    }

    .container-logo{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
        margin-top: 10px;
    }

    .logo{
        max-width: 150px;
    }

    #hamburger-menu-header{
        display: block;
    }

    #hamburger-menu-header:checked ~ nav{
        display: block;  
    }

    #hamburger-menu-header{
        display: none;
    }

    nav{
        display:none;
        position: absolute;
    }

    nav ul {
        list-style: none;
        padding: 10px;
        text-align: center;
        display: block;  
    }

    nav li {
        padding:0px;
        margin: 0px;
        font-size: 20px;
        display: block;
        background-color: #CCDCE5;
        padding: 5px;
    }

    nav a {
        display: block;
        color: #CCDCE5;
        text-decoration: none;
    }

    nav li:hover {
        background-color:#CCDCE5 ;
    }

    .home-header{
        background-position: center;
        background-size: cover;
        margin: 5px;
        min-height: 500px;
    }

    .header-text{
        position: absolute;
        bottom: 70%;
        left: 10%;
        transform: translate(0, 50%);
        text-align: left;
    }

    .headers{
        font-size: 20px;
        text-align: left;
        color: #0A3641;
        margin-right: 100px;
    }

    .home-cta{
        font-size: 18px;
        padding:10px 10px;
        position:sticky;
        
    }

    .img-products{
        max-width: 100%;
    }

    .footer-text{
        background-color: #0A3641 ;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }

    .footer-text li{
        margin: 10px 0;
    }

    .h3{
        font-size: 25px;
        text-align: center;
        padding: 10px 0px;
        margin: 0px;
    }

   .container-products{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax (100px, 1fr));
    max-width: 1500px;
    margin: 50px auto;
    gap: 20px;
   }

   .dropdown{
    padding: 10px 30px;
    margin-left: 15px;
    margin-top: 20px;
   }

   .img-details{
    max-width: 200px;
    margin-left: 0px;
    margin-left: 50px;
    padding: 0px;
   }

 .main-container{
     border: 1px solid #CCDCE5;
     display: grid;
     padding: 10px;
     align-items: center;  
 }
 
 .details-container{
     display: grid;
     grid-template-columns: 1fr ;
     align-items: right;
     text-align: left;
     margin-left: 0px;
     margin-top: 0px;
     border: none; 
 }
 
 .product-head{
     margin-left: 10px;
     background-color:white;
     padding: 0px;
     font-size: 15px;
 }
 
 .options{
    display: grid;
    grid-template-columns: 1fr;
    margin-left:10px;  
 }
 
 .dropdown, .product-detail{
    padding:10px 0px;
    margin: 5px;
    padding:10px;
 }

   .cart-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 20px;
}

.cart-header{
    padding: 10px;
    margin:10px;
    text-align: center; 
}

.product-details{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    padding: 10px;
    margin:10px;
    border: 2px solid #CCDCE5;
}

.jacket, .product-pricing, .price-item-1, .price-item-2{
    padding: 0px;
    margin:0px;
}

.shipping-info{
    padding: 10px;
    margin: 0px;
}

.shipping-info-text{
    padding: 0px;
    margin:10px;  
    display: grid;
    grid-template-columns:1fr;
} 

.order-summary{
    font-size: 12px;
}

.check-out-container{
    align-items: center;
    padding:5px;
}

.confirmation-items{
    padding: 10px;
    margin:0px 10px;
}

 
}

@media (min-width:600px) and (max-width:899px){

  
    .small-banner{
        display: none;   
    }

    .small-banner-text-h4{
        font-family:Poppins;
        font-weight: 400;
        color: #ffffff;
        font-size: 10px;
        text-align: center;
        font-style: normal;
        padding: 6px;
        letter-spacing: 1px;
    }

    .container-logo{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    .logo{
        max-width: 200px;
        padding: 10px;
        align-items: center;
    }

    nav{
        display:block;    
    }

    .fa-bars{
        display: none;
    }

    .home-header{
        background-position: center;
        min-height: 600px;
    }

    .header-text{
        position: absolute;
        bottom: 65%;
        left: 5%;
        transform: translate(0, 50%);
        text-align: left;
    }

    .headers{
        font-size: 32px;
        text-align: left;
        color: #0A3641;
        margin-right: 100px;
    }

    .home-cta{
        font-size: 22px;
        padding:15px 15px;
        position:sticky;   
    }

    .footer-text{
        flex-direction: row;
        align-items: center;  
    }

    .img-details{
        margin-left: 0px;
        max-width: 280px;
    }

    .details-container{
        padding: 0px;  
    }

    .cart-container{
        display: block;
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 20px;
    }
    
    
}




@media (min-width: 900px){
    .small-banner{
        display: none;
    }

    nav{
        display: block;
    }

    #hamburger-menu-header{
        display: none;
    }

    .fa-bars{
        display: none;
    }

  
   
    
}



@media (min-width: 1200px){

    .small-banner{
        display: none;
    }

    .fa-bars{
        display: none;
    }

    
   

}
